@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow-cyan {
    text-shadow: 2px 2px 4px rgba(0, 255, 255, 0.5); /* Cyan shadow */
}

.relative.group::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 30px; 
    z-index: 10;
  }


.hover-effect::before,
.active-link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 2px;
  left: 0;
  background-color: #490cf0;
  transition: width 0.3s ease;
}

.hover-effect:hover::before {
  width: 100%;
}

.active-link::before {
  width: 100%;
}



.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Hiển thị 2 dòng */
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* Hiển thị 2 dòng */
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Hiển thị 2 dòng */
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

input[type='radio'] {
  /* Loại bỏ kiểu mặc định */
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #585353b7;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
}

input[type='radio']:checked {
  background-color: white;
  position: relative;
}

input[type='radio']:checked::after {

  content: '';
  width: 14px;
  height: 14px;
  background: rgb(28, 184, 211);
  border-radius: 50%;
  position: absolute;
  top: 51.5%;
  left: 52%;
  transform: translate(-50%, -50%);
}



input[type='checkbox'] {
 
  appearance: none;
  -webkit-appearance: none;
  
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 20%;
  background: #fff;
  cursor: pointer;
}

input[type='checkbox']:checked {
  background-color: white;
  position: relative;
}

input[type='checkbox']:checked::after {

  content: '';
  width: 15px;
  height: 15px;
  background: rgb(28, 184, 211);
  border-radius: 20%;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}